@model IEnumerable<Secretaria.Model.TbAluno>


@{
    ViewData["Title"] = "Alunos";
}

<h1>Alunos</h1>

<p>
    <a asp-action="Create" class="btn btn-light btn-sm">Matricular novo aluno </a>
</p>
<table class="table table-primary table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cpf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CursoIdCursoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cpf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CursoIdCursoNavigation.NomeCurso)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdAluno" class="btn btn-light btn-sm">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdAluno" class="btn btn-light btn-sm">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.IdAluno" class="btn btn-light btn-sm">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
